<h2>First Angular App</h2>
<button type="button" class="btn btn-primary">Primary</button>
<br>
<h3> Message is {{msg}} </h3>

<input type = 'text' #txtdata (keyup) = 'onchange(txtdata.value)'>

<table class = 'table table-hover'>
	<thead>
		<th>Name</th>
		<th>Price</th>
	</thead>

  <!-- ngFor is basically the for loop in Angular -->
	<tbody *ngFor = 'let item of fruits'>

		<!-- ngIf is if statement -->
		<tr *ngIf = 'item.price>100'>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
		</tr>
		
	</tbody>

</table>